.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--slate900);
  flex-grow: 1;
  padding: 2rem 1.5rem;
  text-align: center;
  gap: 1rem;

  & h3 {
    color: var(--white);
  }

  & p {
    color: var(--slate300);
  }

}

@media screen and (min-width: 576px) {
  .results {
    border-radius: 0 0 1.5rem 1.5rem;
    padding: 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .results {
    min-height: 606px;
    border-radius: 0 1.5rem 1.5rem 5rem;
    height: 100%;
    flex-grow: 1;
  }
}