main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
}
form {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2rem 1.5rem;
    gap: 1.5rem;
}

.header_group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

.term_rate_group {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.clear_all {
    text-decoration: underline;
    color: var(--slate700);

    &:hover {
        cursor: pointer;
        color: var(--slate900);
    }
}

.radio_group {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    & h2 {
        color: var(--slate700);
    }
}

.error_message {
    color: var(--red);
}

@media screen and (min-width: 576px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--slate100);
        padding: 2.5rem;
    }
    main {
        border-radius: 1.5rem;
    }

    .header_group {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .term_rate_group {
        flex-direction: row;
    }

    form {
        padding: 2.5rem;
    }

}

@media screen and (min-width: 1024px) {
    body {
        min-height: 100vh;
    }
    main {
        min-height: revert;
        flex-direction: row;
        max-height: 606px;
        max-width: 1008px;
        justify-content: center;
        align-items: center;
    }
}